<% provide :title, t("admin.edit_book") %>
<% provide :button_text, t("admin.edit_book") %>
<% if verify_admin_access? %>
  <h1><%= t("admin.edit_book") %></h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-books">
        <%= render "formbook" %>
      </div>
    </div>
  </div>
<% end %>