<% if logged_in? %>
  <%= form_for [@book, review, Comment.new], remote: true do |f| %>
    <div class="field padding-bottom-7">
      <%= f.text_area :content, class: "form-control reset-input", required: true %>
    </div>
    <%= f.submit t("views.comments.new.send_bt"), class: "btn btn-primary"%>
  <% end %>
<% end %>
