<% provide(:title, t("views.users.new.title")) %>
<% provide :button_text, t("views.users.new.bt_title_signup") %>

<h1><%= t "views.users.new.title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-login">
    <%= render "form" %>
    </div>
  </div>
</div>
