<div><%= hidden_field_tag :book_id, @book.id %></div>
<button class="btn icon-btn btn-success" id="bt-read-book" value="reading">
  <span class="glyphicon btn-glyphicon glyphicon-eye-close img-circle text-success" id="icon-eye"></span>
  <span id="text-button"><%= t "views.shared.reading" %></span>
</button>
