<footer class="footer">
  <small>
    The <a href="#">Books System</a> Version
    <a href="#">1.0</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">Privacy Note</a></li>
    </ul>
  </nav>
</footer>